body{
  font-size: 100%;
  max-width: auto;
  max-height: 100% !important;
  overflow-x: hidden;
}
}
.bgcolorhome{
  background-color: #fcfdff;
}
.bgcolorquote{
  background-color: #2975d8;
}

.changesite{
  padding-top: 5%;
}

.box1{
  padding-top: 2%;
  padding-bottom:5%;
  padding-left: 5%;
  padding-right: 5%;
  margin-top:0;
}
.padthebox{
  margin-top: 5%;
}
.box2{
  margin-top: 5%;
}
.text-primary1{
  font-family: 'Open Sans';
  font-size: 1.8em;
  font-weight: 600;
  color:#2975d8 ;
  text-align: justify;
}
.text-primary1:hover{
  font-family: 'Open Sans';
  font-size: 1.8em;
  font-weight: 600;
  color: #2975d8;
  text-align: justify;
}
.text-secondary2{
  font-family: 'Open Sans';
  font-size: 1.85em;
  font-weight: 600;
  color: #bababa;
  text-align: justify;
}
.text-quote{
  font-family: 'Open Sans';
  font-size: 1.2em;
  font-weight: 600;
  color: #fcfdff;
  text-align: justify;
}
a.nounderscore{
  text-decoration: none;
}
.socialicons{
  color:#2975d8;
  font-size:1.8em;
  padding-left:1%;
  padding-right:1%;
}
.socialicons2{
  color:#fcfdff;
  font-size:1.8em;
  padding-left:1%;
  padding-right:1%;
}
.socialicons:hover{
  color:#093ec4;
}
.socialicons2:hover{
  color: #bababa;
}

#spacingcontainer{
  padding-bottom: 5%;
}

.inlinetextblue{
  color:#2975d8;
}
.iconintext{
  color: #bababa;
  font-size: 1em;
}

.changeovertime{
  /*animation: colorchange 4s; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
    /*  -webkit-animation: colorchange 4s; /* Chrome and Safari */
    /*}

    @keyframes colorchange
    {
      0%   {color:#fcfdff ;}
      50%  {color:#fcfdff ;}
      100%  {color: #bababa;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    /*{
      0%   {color:#fcfdff ;}
      50%  {color:#fcfdff ;}
      100%  {color: #bababa;}
    }*/
}
a.linkintext{
 color: #bababa;
}
a.linkintext:hover{
color: #9c9c9c;

}
.iconstate{
    display: inline;
}
.iconstate:hover{
    display: none;
}



#emojiid-code{
    display: none;
}

#iconid-code:hover + #emojiid-code{display: inline;}

#emojiid-learn{
    display: none;
}

#iconid-learn:hover + #emojiid-learn{display: inline;}

#emojiid-people{
    display: none;
}

#iconid-people:hover + #emojiid-people{display: inline;}

#emojiid-coffee{
    display: none;
}

#iconid-coffee:hover + #emojiid-coffee{display: inline;}

#emojiid-article{
    display: none;
}

#iconid-article:hover + #emojiid-article{display: inline;}

.topic:hover{
    display: none;
}


#mlandcv-q{
    display: none;
    font-family: 'Roboto', sans-serif;
    font-size: .7em;
  font-weight: 300;
}

#mlandcv-t{
    font-size: .9 em;
  font-weight: 400;
}
#phil-t{
    font-size: .9 em;
  font-weight: 400;
}
#prod-t{
    font-size: .9 em;
  font-weight: 400;
}

#mlandcv-t:hover + #mlandcv-q{display: inline;}

#phil-q{
    display: none;
    font-family: 'Roboto', sans-serif;
    font-size: .7em;
  font-weight: 300;
}
#phil-t:hover + #phil-q{display: inline;}

#prod-q{
   display: none;
    font-family: 'Roboto', sans-serif;
    font-size: .7em;
  font-weight: 300;
}
#prod-t:hover + #prod-q{display: inline;}




