body{
  background-color: #fcfdff;
  font-size: 100%;
}

.box1{
  padding-top: 5%;
  padding-bottom:1.5%;
  padding-left: 0;
  padding-right: 0;
  margin-top:-1.2%;
}

.text-primary1{
  font-family: 'Open Sans';
  font-size: 1.8em;
  font-weight: 600;
  color:#2975d8 ;
  text-align: justify;
}
.text-primary1:hover{
  font-family: 'Open Sans';
  font-size: 1.8em;
  font-weight: 600;
  color: #2975d8;
  text-align: justify;
}
.text-secondary2{
  font-family: 'Open Sans';
  font-size: 2.1em;
  font-weight: 600;
  color: #bababa;
  text-align: justify;
}

.socialicons{
  width: 600;
  height: 400;
}

.icongit{
  color:#2975d8;
  font-size:1.8em;
  padding-left:2%;
  padding-right:2%;
}
.icongit:hover{
  color:#093ec4;
}
#spacingcontainer{
  padding-bottom: 5%;
}
#githubicon{
   padding-left:22%;
}

.brailleblue{
  color:#2975d8;
}


.inlinetextblue{
  color:#2975d8;
}
.iconintext{
  color: #bababa;
  font-size: 1em;
}
.iconintext2{
  color:#2975d8;
  font-size:1em;
}

.changeovertime{
  animation: colorchange 4s; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 4s; /* Chrome and Safari */
    }

    @keyframes colorchange
    {
      0%   {color:#fcfdff ;}
      50%  {color:#fcfdff ;}
      100%  {color: #bababa;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {color:#fcfdff ;}
      50%  {color:#fcfdff ;}
      100%  {color: #bababa;}
    }
}

